*{
    margin: 0;
    padding: 0;
}
.noticias_h2{
    padding: 1.8rem;
    text-align: center;
}



.noticias_section{
width: 40rem;
margin: 0 auto;



}
.noticias_imagen {
  width: 40rem;
  padding-bottom: 0.8rem;
  

}
.noticias_article{
   text-align: justify;
   padding: 0.6rem;
}