*{
    margin: 0;
    padding: 0;
}
.noticias_h2{
    padding: 2rem;
    text-align: center;
    
}
.actualidad_h2{
  font-size: 3em;
  padding: 0.8rem;
}
.noticias_h3{
  padding: 2rem;
    text-align: center;
    font-size: 2em;
}

.noticias_section{
max-width: 720px;
margin: 0 auto;

}
.noticias_imagen {
  max-width: 100%;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  

}
.noticias_article{
   text-align: justify;
   padding: 0.6rem;
   padding-bottom: 2rem;
}
.div_slider{
  position: relative;
    display: inline-block;
    text-align: left; 
    
}
.text_slider{
  position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(56, 56, 123, 0.369);
    color: aliceblue;
    font-size: 1.5em;
}
.noticias_link{
  color: aliceblue;
  font-size: medium;
}