*{
    margin: 0;
    padding: 0;
}
.noticias_h2{
    padding: 2rem;
    text-align: center;
    
}
.noticias_h3{
  padding: 2rem;
    text-align: center;
    font-size: 2em;
}

.noticias_section{
max-width: 720px;
margin: 0 auto;

}
.noticias_imagen {
  max-width: 100%;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  

}
.noticias_article{
   text-align: justify;
   padding: 0.6rem;
   padding-bottom: 2rem;
}