
/* .logo{
  width: 50%;
  height: 4rem;
} */

.fotosCategorias{
    display: grid;
    grid-template-columns: auto auto;  
}



.body--equipos{
  background-image: linear-gradient(180deg, #bee2ff 0, #5096cc 50%, #005197 100%);
  text-align: center;
}


.futPro{
    width: 70%;
    height: 70%;
}

.femFutPro{
    width: 65%;
    height: 65%;
}

.futJuv{
    width: 70%;
    height: 70%;
}

.futInfantil{
    width: 70%;
    height: 70%;
}



  /*Transiciones Imagenes*/

  .futPro{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: rgb(34, 58, 177);
  }
  .futPro:hover{
    padding: 4rem;
  }

  .femFutPro{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: rgb(34, 58, 177);;
  }
  .femFutPro:hover{
    padding: 4rem;
  }

  .futJuv{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: rgb(34, 58, 177);;
  }
  .futJuv:hover{
    padding: 4rem;
  }

  .futInfantil{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: rgb(34, 58, 177);;
  }
  .futInfantil:hover{
    padding: 4rem;
  }

  /* Texto calendario*/

  .amorePro{     
    border: black 1rem solid;
    margin-right: 30rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .amoreFem{
    border: black 1rem solid;
    margin-right: 30rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .amoreJuv{
    border: black 1rem solid;
    margin-right: 30rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .amoreInf{
    border: black 1rem solid;
    margin-right: 30rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  /*Titulo (h1)*/

    font-size: 8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  /*Titulos (h2)*/

  .h2--equipos{
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }





  
  
 
