@charset "utf-8";
*{
    margin: 0;
    padding:0;
}
.amorobieta{
padding: 2rem;

}.header{
    padding: 1rem;
    background-image: url("./img/amorobieta-4.jpeg");
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    list-style: none;
}

span{
    color: rgb(115, 18, 206);
}


.estadio-imgen img{
    width: 20rem ;
    height: 17rem  ; 

}.estadio-imgen{
    
   display: grid;
  grid-template-columns: auto auto;
  padding-left: 10rem;
  
   
}.estadio-imgen{
 gap: 2rem;
border-radius: 1.5rem;
}
 .liga {
   display: flex;
   justify-content: center;
   padding-bottom: 2rem;
 } .liga-1{
    text-align: center;
    border-radius: 10%;
    padding-bottom: 2rem;
 } .text{
    padding: 2rem;
    margin: 2rem;
 }
