@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

.amorobieta {
  padding: 2rem;
}

.datos {
  padding: 2rem;
  background-image: url("./img/amorobieta-4.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(55%);
font-size: 2rem;
text-align: center;
font-weight: bold;
color: aliceblue;
background-size: cover;
}

.amorbi {
  display: flex;
  justify-content: center;
}

.amorbi img {
  width: 15rem;
}

.trofeos {
  padding: 3rem;
  text-align: center;
}

.trofeos h3 {
  font-size: 3rem;
}

.trofeos li {
  padding: 1em;
  font-size: 1.5rem;
}

.estadio {
  padding: 3rem;
  text-align: center;
}

.estadio h3 {
  font-size: 3rem;
}

.estadio li {
  padding: 1em;
  font-size: 1.5rem;
}

span {
  color: rgb(115, 18, 206);
}

.estadio-imagen {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20rem;
  

}

.estadio-imagen a img{
 width: 50rem;
 height:30rem ;
 padding: 1rem;
 border-radius: 2.5rem;

}

.estadio-img h2 {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
}

.liga {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.liga-1{
  text-align: center;
;
}
.liga-1 img{
  border-radius: 10%;
  padding-bottom: 2rem;
  width:50rem;
  
}

.historia {
  padding: 4rem;

}
.historia{
  background-image: url("./img/amorobieta-4.jpeg");
  text-align: justify;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(65%);
} 
.historia h2{
  font-size: 3rem;

}
.historia h3{
  font-size: 2rem;
}
.historia p{
  font-size: 1.5rem;
}
