
@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}


html, body {
    width: 100%;
    min-width: 320px;
    font-size: 16px;
    font-family: Arial, Verdana, Tahoma, Trebuchet, sans-serif;
}


.gridd{
    display: grid;
    grid-template-columns: 80% 20%;
    /* grid-row: 5% 30% auto auto 10%; */
    justify-content: stretch;
}


.gridd__item{
    border: 4px solid  black;
    text-align: center;
    /* line-height: 150px; */
}




.flex_row{
    display: flex;
    justify-content:center;
    gap: 2rem;
} 


.flex_colum{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
} 

.flex__item{
    border: solid black;
}

.about__flex_item_img{
    
    /* flex-basis: 20%;  */
     width: 20%;  
}


a{
    color: white;
    text-decoration: none;
}



/*-----------------------------Header and Menu-------------------------------------*/

#header{
    background-image: url(./img/header-image.png);
    background-repeat: no-repeat; 
    background-size: cover;

    text-align: center;

    height: 40rem;
    grid-column: 1/3;

}

#menu{
    justify-content: space-around;
    grid-column: 1/3;


}

/*-----------------------------Formulario-------------------------------------*/
form{
    width: 30%;
    padding-left: 35%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}


input , textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 0.1rem;
    border-color: rgb(128, 128, 128);
    resize:none;
}

 input[type=submit] {
    width: 4rem;
    background-color: rgb(59, 139, 139);
    color: white;
    padding-top:0.7rem;
    padding-bottom:0.7rem;
    border-radius: 0.7rem;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;     
  } 


/*-----------------------------footer-------------------------------------*/

#footer{
    background-color: brown; 
    grid-column: 1/3;

}


h1{
    color:white;
    font-size: 30px;
    text-align: center;
}