/* BEM CSS - CSS Document */
@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    min-width: 320px;
    font-size: 16px;
    font-family: Arial, Verdana, Tahoma, Trebuchet, sans-serif;
}
/* MOBILE FIRST 320-767px*/
/*------------------------------HEADER-------------------------------------*/

/*-----------------------------CUERPO-------------------------------------*/

/*-----------------------------FOOTER----------------------------------*/
 

/*------------------------------ RESPONSIVE ------------------------------*/
@media screen and (min-width: 768px) {
    /* TABLET 768-1199 px*/
    /*------------------------------HEADER-------------------------------------*/
    
    /*-----------------------------CUERPO-------------------------------------*/

    /*-----------------------------FOOTER----------------------------------*/
 
}

@media screen and (min-width: 1200px) {
    /* PC & BIGGER SCREENS >=1200px*/
    /*------------------------------HEADER-------------------------------------*/
    
    /*-----------------------------CUERPO-------------------------------------*/

    /*-----------------------------FOOTER----------------------------------*/
 
}